{{ product.title }}
{{ product.price | money }}

{% form 'product', product %}
    <!-- form content -->
    <select name="id">
        {% for variant in product.variants %}
            <option value="{{ variant.id }}"
                    {% if variant == product.selected_or_first_available_variant %}
                        selected="selected"
                    {% endif %}
            >
                {{ variant.title }} - {{ variant.price | money }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Add to cart">
{% endform %}
